snippet rdeb "Rails logger.debug"
Rails.logger.debug "${1}------------------> " ${2}
endsnippet

snippet jsf "javascript_tag"
    <script src="${1}" type="text/javascript"/>
endsnippet

snippet js "javascript_tag"
    <script  type="text/javascript">
      ${1}
    </script>
endsnippet
